n8n/workflows/11-whatsapp-instance-monitor.json
{
  "name": "11 - Monitoramento de Instância WhatsApp",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 5 }] }
      },
      "id": "trigger-monitor",
      "name": "Monitoramento a Cada 5min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "notes": "Verifica o status das instâncias WhatsApp a cada 5 minutos."
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/whatsapp/instances",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "={{ $env.N8N_INTERNAL_API_KEY }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "listar-instancias",
      "name": "Listar Instâncias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "dividir-instancias",
      "name": "Dividir por Instância",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/whatsapp/instances/{{ $json.id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "={{ $env.N8N_INTERNAL_API_KEY }}" }
          ]
        },
        "options": { "timeout": 10000 },
        "continueOnFail": true
      },
      "id": "verificar-status",
      "name": "Verificar Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            { "leftValue": "={{ $json.connected }}", "rightValue": false, "operator": { "type": "boolean", "operation": "false" } }
          ]
        }
      },
      "id": "esta-desconectada",
      "name": "Está Desconectada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/automation/notify-admin",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "={{ $env.N8N_INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'instance_disconnected', instanceId: $json.id, instanceName: $json.name, message: 'Instância WhatsApp desconectada: ' + $json.name }) }}",
        "options": { "timeout": 5000 },
        "continueOnFail": true
      },
      "id": "alertar-admin",
      "name": "Alertar Administrador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200],
      "notes": "Alerta o administrador sobre instância desconectada."
    }
  ],
  "connections": {
    "Monitoramento a Cada 5min": { "main": [[{ "node": "Listar Instâncias", "type": "main", "index": 0 }]] },
    "Listar Instâncias": { "main": [[{ "node": "Dividir por Instância", "type": "main", "index": 0 }]] },
    "Dividir por Instância": { "main": [[{ "node": "Verificar Status", "type": "main", "index": 0 }]] },
    "Verificar Status": { "main": [[{ "node": "Está Desconectada?", "type": "main", "index": 0 }]] },
    "Está Desconectada?": { "main": [[{ "node": "Alertar Administrador", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["monitoring"]
}
